@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {

    .btn-add {
      @apply px-4 py-2 rounded-lg font-semibold text-sm transition-all duration-200 bg-[#3b38a0] text-white hover:bg-[#7a85c1];
    }
    .btn-edit {
      @apply px-4 py-2 rounded-lg font-semibold text-sm transition-all duration-200 bg-blue-600 text-white hover:bg-blue-700;
    }
  
    .btn-delete {
      @apply px-4 py-2 rounded-lg font-semibold text-sm transition-all duration-200 bg-red-600 text-white hover:bg-red-700;
    }
  }

